# .gitignore
 
# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta
 
# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
 
# Builds
*.apk
*.unitypackage
*.app
*.exe
/Logs/*.log
/.vs/TankVSMonsters/v15/Server/sqlite3/db.lock
/.vs/TankVSMonsters/v15/Server/sqlite3/storage.ide
/.vs/TankVSMonsters/v15/Server/sqlite3/storage.ide-shm
/.vs/TankVSMonsters/v15/Server/sqlite3/storage.ide-wal
/.vs/TankVSMonsters/DesignTimeBuild/*.dtbcache
